/* ------------------------------------------------------
----------------Cascading Style Sheet-------------------- */
* {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
.nav_plus_banner {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar > h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  top: 50px;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 63px;
}
.navbar > ul > li {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-right: 35px;
}
.navbar > ul > li > a {
  color: #424242;
}
.navbar > ul > li > :hover {
  background-color: rgb(226, 224, 224);
  transition: 0.2s;
}

.banner {
  margin-top: 116px;
}
.banner h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 33px;
}
.banner p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 33px;
}
.banner button {
  background: #ff900e;
  border-radius: 8px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  border: none;
  margin-bottom: 50px;
}
.banner img {
  width: 75%;
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}
.features_container {
  display: flex;
  width: 50%;
  gap: 73px;
  align-items: center;
  justify-content: space-around;
  margin-top: 85px;
}
.features_img {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.features_img img{
    width: 100%;
}
.features_text h2 {
 
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 24px;
}
.features_text h2>.span1{
    color: #727272;
}
.features_text h2>.span2{
    color: #131313;
}
.features_text h2>.span3{
    color: #FF900E;
}
.features_text p{
    margin-bottom: 32px;
    color: #727272;
}
.features_text>button{
    background: #ff900e;
  border-radius: 8px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  color: #ffffff;
  text-align: center;
  border: none;
  margin-bottom: 50px;
}
/* ---------------------------------------------------------------------
------------------------Media Query for mobile device------------------- */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .navbar > h1 {
    justify-content: center;
    font-size: 35px;
  }
  .navbar > ul {
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }

  .banner h1 {
    font-size: 40px;
  }
  .features_container{
      flex-direction: column;
  }
  .features_text h2{
    font-size: 30px;
  }
  .features_img{
grid-template-columns: repeat(1,1fr);
  }
}
